html{
    padding: 0px 2.5% 0px 2.5%;
    font-family: Arial helvetica , sans-serif;

}
body{
    margin: 0px;
}
header{
    background-image: url('../Images/bgsky3.jpg');
    color: darkblue;
    font-size:240%;
    height: 200px;
    background-size: cover;
    text-align: center;
}
header>img{
    float: right;
    margin: 0px 90px 60px 0px;
}
