body{
    margin:0px;
}
nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)

}
h1{
    border: 2px solid #6699ff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Default styles for desktop */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    background-image: url("https://lambertrune.github.io/webdevelopment/labo_4/Images/kia-rio-gls-my22-34front-w.jpg");
    background-size: cover;

}

li {
    float: left;
    opacity: 60%;
}
.floatright{
    float: right;
}

li a {
    display: block;
    color: black;
    background-color: lightgray;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.5em;
    text-decoration: none;
    transition-duration: 500ms;

}
li a:hover {
    background-color: white;
}
li a:after {
    color: #d9d9d9;
    transition-duration: 500ms;

}
.active {
    background-color: #6699ff
;
}



.bodySetup{
    margin: 16px;
}

/* Media query for mobile */
@media (max-width: 1000px) {
    /* Reset styles for the ul element */
    .floatright{
        float: none;
    }
    ul {
        margin: 0;
        padding: 0;
        background-color: transparent;
        overflow: visible;
        text-align: left;
    }

    /* Reset styles for li elements */
    li {
        float: none;
    }

    /* Modify styles for li a elements in mobile version */
    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    /* Change the link color on hover */
    li a:hover {
        background-color: #555;
        color: white;
    }
    .bodySetup{
        text-align: center;
    }
}