.flex{
    display:flex;
    flex-direction: row;
}
.flex> label>input{
    max-width:100px;

}

.border{
    border: 1px solid black;
    padding:2%;
}
.colorBox {
    border: 1px solid black;
    width:7%;
    padding:7%;
}
.grid{
    display:grid;
    grid-template-columns: repeat(2,40%);
    grid-template-rows: repeat(1,auto);
    padding:2.5%;

}
.links{
    grid-column: 1;

}
.rechts{
    grid-column:2;

}