body{
    font-family: sans-serif Verdana;
    font-size:1.1em;
}
h1{
    background-color: red;
    font-variant: all-petite-caps;
}
a:hover{
    border-block: black;
    border-style:solid;
    transition: 500ms;
}
.stippeltjesRand{
    border-style:dotted;
    border-color: black;
    border-width: 1px;
}