html{

        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif Algerian
}

.title{
    font-size: 48px;
    color: white;
    background-image:url("https://github.com/LambertRune/webdevelopment/blob/5aeba80b78d6aeb1ce1ac69948fb23694686c2b9/labo_7/opdracht1/Images/header.jpg?raw=true");
    background-size: cover;
    padding-bottom:2px;
}
nav{
background-color: grey;
}
nav>a {
    color: green;
    text-decoration:none;
}
article{
    text-align: left;
    background-color: lightgray;
    border-block: grey;
    margin:10px;
    padding :10px
}
article>header>h1{
    text-decoration-line: underline;
    font-size: 24px;
}

