body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: #333;
}

ul, table {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 1em;
    padding: 10px;
    /* box-shadow: none; */ /* This line is optional, depending on whether you want a shadow or not */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

}

th {
    background-color: #3498db;
    color: #fff;

}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Add some spacing */
p {
    margin-bottom: 10px;
}

/* Add spacing between the table cells */
td, th {
    padding: 12px;
}
